# **heart disease classification** #

# **import libraries** #

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from keras.layers import Dense
from keras.models import Sequential

# **load dataset** #

In [2]:
data=pd.read_csv("heart_disease_uci.csv")
data.head().style.background_gradient()

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

In [4]:
data.describe()

,id,age,trestbps,chol,thalch,oldpeak,ca,num
count,920.000000,920.000000,861.000000,890.000000,865.000000,858.000000,309.000000,920.000000
mean,460.500000,53.510870,132.132404,199.130337,137.545665,0.878788,0.676375,0.995652
std,265.725422,9.424685,19.066070,110.780810,25.926276,1.091226,0.935653,1.142693
min,1.000000,28.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.000000
25%,230.750000,47.000000,120.000000,175.000000,120.000000,0.000000,0.000000,0.000000
50%,460.500000,54.000000,130.000000,223.000000,140.000000,0.500000,0.000000,1.000000
75%,690.250000,60.000000,140.000000,268.000000,157.000000,1.500000,1.000000,2.000000
max,920.000000,77.000000,200.000000,603.000000,202.000000,6.200000,3.000000,4.000000

In [6]:
data.nunique()

id          920
age          50
sex           2
dataset       4
cp            4
trestbps     61
chol        217
fbs           2
restecg       3
thalch      119
exang         2
oldpeak      53
slope         3
ca            4
thal          3
num           5
dtype: int64

In [5]:
data.duplicated().sum()

0

In [7]:
data.isna().sum()

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

# **data preprocessing** #

In [8]:
Columns_drop=["ca","thal","slope"]
# remove that columns
data=data.drop(Columns_drop,axis=1)

In [9]:
data=data.dropna()
data.isna().sum()

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
num         0
dtype: int64

In [10]:
print("the data after clearing=")
data.tail().style.background_gradient()

the data after clearing=

In [11]:
data=data.drop(["id"],axis=1)

In [12]:
# apply label encoder on gender ,exng
lb=LabelEncoder()
data["sex"]=lb.fit_transform(data["sex"])
data["exang"]=lb.fit_transform(data["exang"])
data["fbs"]=lb.fit_transform(data["fbs"])

In [13]:
data.columns

Index(['age', 'sex', 'dataset', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalch', 'exang', 'oldpeak', 'num'],
      dtype='object')

In [15]:
#apply one hot encoder on following columns

oh = OneHotEncoder()
Columns_onehot=["dataset","cp","restecg"]
for column in Columns_onehot:
# Reshape the "dataset" column before applying OneHotEncoder
    data[column] = oh.fit_transform(data[[column]]).toarray()

In [16]:
print("the data after encoding=")
data.head().style.background_gradient(cmap="Greens")

the data after encoding=

In [17]:
data.shape

(740, 12)

# **apply keras algorithm** #

In [18]:
from sklearn.metrics import accuracy_score

x = data.drop(["num"], axis=1)
y = data["num"]

# split data
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=40)

model = Sequential([
    Dense(12, activation="LeakyReLU", input_shape=(11,)),  # Fix input_shape to (12,)
    Dense(12, activation="LeakyReLU"),
    Dense(12, activation="LeakyReLU"),
    Dense(5, activation="softmax"),
])

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=10, batch_size=20, validation_split=0.2,verbose=1) 
 # Use validation_split instead of validation_batch_size

test_loss, test_acc = model.evaluate(X_test, y_test)
print(f"Test accuracy: {test_acc}")

Epoch 1/10
24/24 [==============================] - 1s 11ms/step - loss: 15.8491 - accuracy: 0.3044 - val_loss: 8.7059 - val_accuracy: 0.3193
Epoch 2/10
24/24 [==============================] - 0s 4ms/step - loss: 7.4336 - accuracy: 0.3552 - val_loss: 5.0807 - val_accuracy: 0.4286
Epoch 3/10
24/24 [==============================] - 0s 4ms/step - loss: 4.2154 - accuracy: 0.4440 - val_loss: 3.2086 - val_accuracy: 0.4538
Epoch 4/10
24/24 [==============================] - 0s 3ms/step - loss: 2.6444 - accuracy: 0.4841 - val_loss: 2.5602 - val_accuracy: 0.4790
Epoch 5/10
24/24 [==============================] - 0s 4ms/step - loss: 2.1247 - accuracy: 0.4757 - val_loss: 2.1400 - val_accuracy: 0.4454
Epoch 6/10
24/24 [==============================] - 0s 3ms/step - loss: 1.9563 - accuracy: 0.4651 - val_loss: 2.0339 - val_accuracy: 0.4622
Epoch 7/10
24/24 [==============================] - 0s 4ms/step - loss: 1.8048 - accuracy: 0.4334 - val_loss: 1.8513 - val_accuracy: 0.4622
Epoch 8/10
24/24 [==============================] - 0s 4ms/step - loss: 1.8206 - accuracy: 0.4440 - val_loss: 1.8008 - val_accuracy: 0.4790
Epoch 9/10
24/24 [==============================] - 0s 4ms/step - loss: 1.8079 - accuracy: 0.4567 - val_loss: 1.7413 - val_accuracy: 0.4370
Epoch 10/10
24/24 [==============================] - 0s 5ms/step - loss: 1.6104 - accuracy: 0.4715 - val_loss: 1.6378 - val_accuracy: 0.4370
5/5 [==============================] - 0s 4ms/step - loss: 1.2640 - accuracy: 0.4932
Test accuracy: 0.4932432472705841

# **apply random forest algorithm** #

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rfc = RandomForestClassifier(n_estimators=5)
model2 = rfc.fit(X_train, y_train)
y_predict = model2.predict(X_test)

# Assuming y_test and y_predict are multioutput, use accuracy_score with multioutput parameter
acc = accuracy_score(y_test, y_predict)

print(f"The accuracy from RandomForestClassifier: {acc}")

The accuracy from RandomForestClassifier: 0.5405405405405406